body{
	text-align: center;
	margin : 50px 50px 60px 60px;
}

#user{
	margin : 30px 30px 80px 40px;
}

#product{
	float:right;
	margin : 30px 30px 40px 40px;
}

#vote{
	float:right;
	margin : 30px 30px 40px 40px;
}

#comment{
	float:right;
	margin : 30px 30px 40px 40px;
}